**.direnv/
*/modelsim/*
**/sim_build
*_prove/
**_pycache_*
**/transcript
**.elf
**.hex
**.bin
**.dump
**.carr

**.o
**.s
**.riscv
**.coe
**.vmem
**.log

.vscode

vivado/modelsim.ini
vivado/compiled-libs/*
